
@{
    ViewBag.Title = "DSSinhVen";
    Layout = "~/Areas/Admin/Views/Shared/LaoutShare.cshtml";
    string maphong = (string)ViewBag.MaPhong;
    bool quyen = (bool)ViewBag.Quyen;
    var lophocphan = (TracNghiemOnline.Modell.LopHocPhan)ViewBag.phong;

}
@section Jsfooter{
    <script>

        $(document).ready(function () {

 

            $('#ChonDe').hide();

            $('#btnDong').click(function () {

                $('#ChonDe').hide();

                $('#DSSV').slideDown();

            });

            $('#CheckChon').click(function () {

                if ($(this).prop("checked") == true) {
                    var Check = document.getElementsByClassName('txtCheckBox');
                    for (var i = 0; i < Check.length; i++) {
                        Check[i].checked = true;

                    }
                }
                else {
                    var Check = document.getElementsByClassName('txtCheckBox');
                    for (var i = 0; i < Check.length; i++) {
                        Check[i].checked = false;

                    }
                }




            });
            var ThongTin;
            $(document).on('click', 'button[name=btnXoa]', function () {

                ThongTin = $(this).closest('tr');
                $('#modalConfirm').modal();


            });

            $('#btnYes').click(function () {
            
                $.ajax({
                    url: '/Admin/QuanLyThi/DeleteSinhVien', type: 'post',
                    data: {
                        maSV: $(ThongTin).find("td:eq(0)").attr('id'),
                        MaLop: $(ThongTin).attr('id'),

                    },
                    success: function (data) {
                        $(ThongTin).remove();
                        $('#modalConfirm').modal('hide');
                    }
                });
            });


            $('#bntTaoPhong').click(function () {

                var Check = $('.txtCheckBox');
                var arr = [];
                $.each(Check, function (i, item) {
                    if ($(item).prop("checked") == true) {
                        alert($(this).val())
                        arr.push({
                            Ma_SV: $(item).val(),

                        });
                    }


                });
                if (arr.length > 0) {
                    $.ajax({
                        type: 'POST',
                        url: '/Admin/QuanLyThi/CreatePhongThi/',
                        data: {
                            MALop: $('#CheckChon').val(), DS: JSON.stringify(arr), MaSV: "",
                        },
                        success: function (res) {
                            window.location = '/Admin/QuanLyThi/PhongThi'
                        }

                    });
                }
            });


        });
        function Them(id) {
            var CheckBox = $('.txtCheckBox');
            var sv = [];
            $.each(CheckBox, function (k, v) {
                if ($(this).prop("checked") == true) {

                    sv.push({
                        Ma_SV: $(this).val(),

                    });

                }
            });
            alert("Lưu thành công");
            $.ajax({
                type: 'POST',
                url: '/Admin/QuanLyThi/CreatePhongThi',
                data: { MALop: $('#CheckChon').val(), DS: JSON.stringify(sv), MaSV: id },
                success: function (res) {
                    window.location = '/Admin/Home/DSSVThi/' + id;
                }

            });


        }

        function TaoDeOn(id) {

            $.ajax({
                type: 'Post',
                url: '/Admin/QuanLyThi/LoadBode/' + id,
                success: function (data) {
                    if (data.Bode.length > 0) {
                        $('#DsThethi').empty();
                        $.each(data.Bode, function (K, V) {
                            let de = '<div class="col-md-3">'
                            de += '<div class="card  mb-4">'
                            de += '<div class="card-footer bg-primary  d-flex align-items-center justify-content-between">'
                            de += ' <h3 class="small text-white">' + V.Ten + '</h3 >'
                            de += '</div> '
                            de += '<div class="card-body" > Thời Gian:' + V.ThoiGian + 'Phút </div >'
                            de += '<div class="card-body" > Số Câu:' + V.SoCau + 'Câu </div >'
                            de += ' <a class="btn btn-xs bg-danger "href = "/Admin/Home/DeOnTap/' + V.MaDe + '" > Chọn </a >'
                            de += '  </div >'
                            de += '   </div >'
                            $('#DsThethi').append(de);

                        });

                        $('#ChonDe').show();

                        $('#DSSV').hide();
                    } else {
                        alert("Bạn vui lòng tạo thêm đề")
                    }

                }

            });
        }

    </script>

}


<div class="col-md-12 " id="DSSV">
    <div class="card">


        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <div class="mt-3">
                        <i class="fas fa-table mr-1"> </i>
                        Danh Sách Sinh Viên Lớp : @lophocphan.TenLop
                    </div>
                </div>
                @if (quyen == true)
                {
                    if (maphong.Length == 0)
                    {
                        <div class="row">
                            <div class="col-3 " style="text-align:center">

                                <a class="btn btn-primary btn-round ml-auto" href="/Admin/QuanLyThi/ThemSinhVien/@lophocphan.MaLop" data-target="#addRowModal">
                                    <i class="fa fa-plus"></i>
                                    Thêm sinh viên
                                </a>
                            </div>
                        </div>
                    }

                }
                @if (maphong.Length > 0)
                {

               
                    <button id="@maphong" onclick="Them(id)" class="btn btn-primary btn-round ml-auto">
                          <i class="fa fa-plus"></i>
                        Lưu
                    </button>
                }
                <div class="col-2">


                    @{

                        if (quyen == false)
                        {
                            if (maphong.Length == 0)
                            {
                                <button id="@lophocphan.MaLop.Trim()" class=" btn btn-xs btn-success" onclick="TaoDeOn(id)">
                                    <i class="fas fa-table mr-1"> </i>
                                    Tạo Đề Ôn
                                </button>
                            }

                        }
                    }
                </div>
            </div>


        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <div id="add-row_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

                        <div class="col-sm-12">
                            <table id="add-row" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="add-row_info">
                                <thead>
                                    <tr>
                                        @if (maphong.Length > 0)
                                        {
                                            <th>
                                                <input type="checkbox" value="@lophocphan.MaLop" id="CheckChon" />
                                            </th>
                                        }
                                        <th>Mã Sinh Viên  </th>
                                        <th>Tên </th>
                                        <th> Lớp  </th>
                                        @if (quyen == true)
                                        {
                                            <th>  </th>
                                        }

                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in lophocphan.DS_LopHP.ToList())
                                    {
                                        <tr id="@item.Ma_LOP">
                                            @if (maphong.Length > 0)
                                            {
                                                <td id="@item.MA_SV"> <input type="checkbox" id="@item.MA_SV" value="@item.MA_SV" class="txtCheckBox" /> </td>
                                            }
                                            <td id="@item.MA_SV">  @item.MA_SV </td>

                                            <td> @item.SinhVien.Ten </td>
                                            <td>  @item.SinhVien.Lop.TenLop  </td>
                                            @{
                                                if (quyen == true)
                                                {
                                                    <td style="text-align:center">
                                                        <div class="col"><button class="btn btn-xs btn-danger" name="btnXoa"> Xóa  </button></div>
                                                    </td>
                                                }

                                            }

                                        </tr>

                                    }

                                </tbody>

                            </table>

                        </div>


                    </div>
                </div>
            </div>


        </div>
    <div class="modal" tabindex="-1" role="dialog" id="modalConfirm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">CẢNH BÁO</h5>

                </div>
                <div class="modal-body">
                    <input type="text" hidden id="ma" value="" />
                    Bạn có chắc chắn muốn xóa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnYes">Xác nhận</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnDong">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
<div class="container-fluid" id="ChonDe">
    <div class="row ">
        <h1 class=" col-10 mt-4">Đề Thi </h1>
        <div class="col-2 mt-4" style="float:right"><button id="btnDong" class="btn badge-danger">Quay Lai</button></div>
    </div>

    <div class="row" id="DsThethi">

    </div>
</div>